@import '../global.scss';

$width : 700px;
.gnb{
    width : 100%;
    padding : 1em 0;
    border-bottom: 1px solid;
    position : sticky;
    top : 0px;
    opacity: 50%;
    
    .flex-row-wrapper{
        @include align-div-center();
        width : $width;
        justify-content: center;
    }
    .category-title {
        background-color: $key-color;
        padding: 0.5em 1.1em;
        border-radius: 1em;

        color : white;
        margin-right: 2em;
        
        font-size: 0.5em;
    }
    .article-title {
        font-size: 1em;
        font-weight: 800;
        margin-right: 2em;
    }
    .show-articles{
        background-color: lightgray;
        border : none;
        height: 30px;
    }
}